.container__small-news {
  width: 700px;
  margin-bottom: 10px;
}

.container__small-news-content {
  display: flex;
  flex-flow: row;
}

.small-news__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-news__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card-separator {
  margin-top: 10px;
}
