.container__content {
  width: 100%;
  height: 100vh;

  margin-top: 1.25rem;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.content__cover > img {
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.content__description > p {
  margin-top: 20px;
  color: rgb(197, 197, 197);
}
