<div class="container__big-news">
  <div class="big-news__photo">
    <img
      src="https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQR-yWK8nGFN4es_k0fV1vtdRY63ByAzn65MkPgn9FdVZi0S8l5gMKENbYAV7G3a5SOLIjT3G233Gwf0ahb3Zag4itLxjpTnHGol.jpg?r=f97"
      height="200px"
      alt=""
    />
  </div>
  <div class="big-news__title">
    <h1>
      <a href="#">New Angular version released</a>
    </h1>
  </div>
  <div class="big-news__description">
    <a href="#">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Libero dolore nemo asperiores obcaecati!
      </p>
    </a>
  </div>
</div>
