.container__big-news {
  margin: 0 20px;
  width: 400px;
  height: 500px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.big-news__title > h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.big-news__description {
  margin-top: 1.2rem;
}

.big-news__description > p > a {
  color: gray;
}

.big-news__photo {
  min-width: 400px;
}

.big-news__photo img {
  width: 100%;
  min-width: 400px;
}
